<?xml version="1.0" encoding="UTF-8"?>
<AirMAS>
 
 <blocco id="Esecutore">
  <trasmettitori>
   
  </trasmettitori>
  <ricevitori>
   <ricevitore>
    <class>ricezione.RicevitoreSocket</class>
    <config key="socketIngresso">50008</config>
   </ricevitore>
  </ricevitori>
  <algoritmo>
   <class>valutatori.AlgoExecution</class>
  </algoritmo>
 </blocco>
 
 <blocco id="Planning">
  <trasmettitori>
  <trasmettitore>
    <class>trasmissione.TrasmettitoreSocket</class>
    <config key="socketUscita">localhost:50008</config>
   </trasmettitore> 
  </trasmettitori>
  <ricevitori>
   <ricevitore>
    <class>ricezione.RicevitoreSocket</class>
    <config key="socketIngresso">50007</config>
   </ricevitore>
  </ricevitori>
  <algoritmo>
   <class>valutatori.AlgoPlanning</class>
  </algoritmo>
 </blocco>
 
 <blocco id="AnalisiLocale">
  <trasmettitori>
   <trasmettitore>
    <class>trasmissione.TrasmettitoreSocket</class>
    <config key="socketUscita">localhost:50007</config>
   </trasmettitore>
  </trasmettitori>
  <ricevitori>
   <ricevitore>
    <class>ricezione.RicevitoreSocket</class>
    <config key="socketIngresso">50006</config>
   </ricevitore>
  </ricevitori>
  <algoritmo>
   <class>valutatori.AlgoLocal</class>
  </algoritmo>
 </blocco>
 
 <blocco id="AnalisiGlobale">
  <trasmettitori>
   <trasmettitore>
    <class>trasmissione.TrasmettitoreSocket</class>
    <config key="socketUscita">localhost:50007</config>
   </trasmettitore>
  </trasmettitori>
  <ricevitori>
   <ricevitore>
    <class>ricezione.RicevitoreSocket</class>
    <config key="socketIngresso">50005</config>
   </ricevitore>
  </ricevitori>
  <algoritmo>
   <class>valutatori.AlgoGlobal</class>
  </algoritmo>
 </blocco>

<blocco id="FiltraggioValue">
  <trasmettitori>
   <trasmettitore>
    <class>trasmissione.TrasmettitoreSocket</class>
    <config key="socketUscita">localhost:50005</config>
   </trasmettitore>
   <trasmettitore>
    <class>trasmissione.TrasmettitoreSocket</class>
    <config key="socketUscita">localhost:50006</config>
   </trasmettitore>
  </trasmettitori>
  <ricevitori>
   <ricevitore>
    <class>ricezione.RicevitoreSocket</class>
    <config key="socketIngresso">50004</config>
   </ricevitore>
  </ricevitori>
  <algoritmo>
   <class>valutatori.AlgoValue</class>
  </algoritmo>
 </blocco>

<blocco id="FiltraggioTime">
  <trasmettitori>
   <trasmettitore>
    <class>trasmissione.TrasmettitoreSocket</class>
    <config key="socketUscita">localhost:50004</config>
   </trasmettitore>
  </trasmettitori>
  <ricevitori>
   <ricevitore>
    <class>ricezione.RicevitoreSocket</class>
    <config key="socketIngresso">50003</config>
   </ricevitore>
  </ricevitori>
  <algoritmo>
   <class>valutatori.AlgoTime</class>
  </algoritmo>
 </blocco>
 
<blocco id="FiltraggioSource">
  <trasmettitori>
   <trasmettitore>
    <class>trasmissione.TrasmettitoreSocket</class>
    <config key="socketUscita">localhost:50003</config>
   </trasmettitore>
  </trasmettitori>
  <ricevitori>
   <ricevitore>
    <class>ricezione.RicevitoreSocket</class>
    <config key="socketIngresso">50002</config>
   </ricevitore>
  </ricevitori>
  <algoritmo>
   <class>valutatori.AlgoSource</class>
  </algoritmo>
 </blocco>
 
 


 <backup id="Backup1">
  <blocchiB>
    <bloccoB>
     <classUscita>trasmissione.TrasmettitoreSocket</classUscita>
     <configUscita key="socketUscita">localhost:55000</configUscita>
     <classIngresso>ricezione.RicevitoreSocket</classIngresso>
     <configIngresso key="socketIngresso">55001</configIngresso>
     <classAlgoritmo>valutatori.AlgoBackup</classAlgoritmo>
    </bloccoB>
    <bloccoB>
     <classUscita>trasmissione.TrasmettitoreSocket</classUscita>
     <configUscita key="socketUscita">localhost:55021</configUscita>
     <classIngresso>ricezione.RicevitoreSocket</classIngresso>
     <configIngresso key="socketIngresso">55012</configIngresso>
     <classAlgoritmo>valutatori.AlgoBackup</classAlgoritmo>
    </bloccoB>
    <bloccoB>
     <classUscita>trasmissione.TrasmettitoreSocket</classUscita>
     <configUscita key="socketUscita">localhost:55031</configUscita>
     <classIngresso>ricezione.RicevitoreSocket</classIngresso>
     <configIngresso key="socketIngresso">55013</configIngresso>
     <classAlgoritmo>valutatori.AlgoBackup</classAlgoritmo>
    </bloccoB>
  </blocchiB>
 </backup> 
 
 <backup id="Backup2">
  <blocchiB>
   <bloccoB>
     <classUscita>trasmissione.TrasmettitoreSocket</classUscita>
     <configUscita key="socketUscita">localhost:55000</configUscita>
     <classIngresso>ricezione.RicevitoreSocket</classIngresso>
     <configIngresso key="socketIngresso">55002</configIngresso>
     <classAlgoritmo>valutatori.AlgoBackup</classAlgoritmo>
    </bloccoB>
    <bloccoB>
     <classUscita>trasmissione.TrasmettitoreSocket</classUscita>
     <configUscita key="socketUscita">localhost:55012</configUscita>
     <classIngresso>ricezione.RicevitoreSocket</classIngresso>
     <configIngresso key="socketIngresso">55021</configIngresso>
     <classAlgoritmo>valutatori.AlgoBackup</classAlgoritmo>
    </bloccoB>
    <bloccoB>
     <classUscita>trasmissione.TrasmettitoreSocket</classUscita>
     <configUscita key="socketUscita">localhost:55032</configUscita>
     <classIngresso>ricezione.RicevitoreSocket</classIngresso>
     <configIngresso key="socketIngresso">55023</configIngresso>
     <classAlgoritmo>valutatori.AlgoBackup</classAlgoritmo>
    </bloccoB>
  </blocchiB>
 </backup> 
 
 <backup id="Backup3">
  <blocchiB>
   <bloccoB>
     <classUscita>trasmissione.TrasmettitoreSocket</classUscita>
     <configUscita key="socketUscita">localhost:55000</configUscita>
     <classIngresso>ricezione.RicevitoreSocket</classIngresso>
     <configIngresso key="socketIngresso">55003</configIngresso>
     <classAlgoritmo>valutatori.AlgoBackup</classAlgoritmo>
    </bloccoB>
    <bloccoB>
     <classUscita>trasmissione.TrasmettitoreSocket</classUscita>
     <configUscita key="socketUscita">localhost:55013</configUscita>
     <classIngresso>ricezione.RicevitoreSocket</classIngresso>
     <configIngresso key="socketIngresso">55031</configIngresso>
     <classAlgoritmo>valutatori.AlgoBackup</classAlgoritmo>
    </bloccoB>
    <bloccoB>
     <classUscita>trasmissione.TrasmettitoreSocket</classUscita>
     <configUscita key="socketUscita">localhost:55023</configUscita>
     <classIngresso>ricezione.RicevitoreSocket</classIngresso>
     <configIngresso key="socketIngresso">55032</configIngresso>
     <classAlgoritmo>valutatori.AlgoBackup</classAlgoritmo>
    </bloccoB>
  </blocchiB>
 </backup> 
 
 
 
 

 
 <blocco id="Ricezione">
  <trasmettitori>
   <trasmettitore>
    <class>trasmissione.TrasmettitoreSocket</class>
    <config key="socketUscita">localhost:50002</config>
   </trasmettitore>
  </trasmettitori>
  <ricevitori>
   <ricevitore>
    <class>ricezione.RicevitoreSocket</class>
    <config key="socketIngresso">50001</config>
   </ricevitore>
  </ricevitori>
  <algoritmo>
   <class>valutatori.AlgoRicevitore</class>
  </algoritmo>
 </blocco>
</AirMAS>

